<?xml version="1.0"?>
<settings>
    <servers>
        <!--
            <server>
              <id>spfab</id>
              <username>admin</username>
              <password>admin123</password>
            </server>
            <server>
              <id>spfab-snapshots</id>
              <username>admin</username>
              <password>admin123</password>
            </server>
        -->
        <server>
            <id>ghip-snapshots</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>ghip</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>filebox_snapshot</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>filebox</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>primeur</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>spent_snapshot</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>spent_release</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>ghibli-centralnode-commons-releases</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>ghibli-centralnode-commons-snapshots</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>ghibli-workflow-releases</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>ghibli-workflow-snapshots</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
    </servers>


    <mirrors>
        <mirror>
            <!--This sends everything else to nexus /public group -->
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>http://nexus.primeur.com/content/groups/public</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <!--make the profile active all the time -->
        <activeProfile>nexus</activeProfile>
    </activeProfiles>

</settings>